<!DOCTYPE html>
<html>
  <head>
    <meta name="name" content="content" charset = "UTF-8">
    <title>仿微信在线聊天室</title>
    <link rel='stylesheet' href='stylesheets/bootstrap.min.css' />
     <link rel='stylesheet' href='src/index.css' />
     <link rel='stylesheet' href='stylesheets/cavas.css' />
  </head>
  <body>


    <nav class="codrops-demos">
        <div class = 'row'>
            <div class = 'col-md-1 col-xs-1'>
                <div class = "topleft">
                    <h1>左边界</h1>
                </div>
            </div>
            <div class = 'col-md-3 col-xs-3'id = 'left_list'>
                <div class = "left_list_box">
                    <div class = "left_list_top">
                          <div class = "left_top_com left_top_img">
                            <img alt="Brand" src="...">
                          </div>
                          <div class = "left_top_com left_top_name">
                            <p>昵称</p>
                          </div>
                          <div class = "left_top_com left_top_news">
                             <div class="dropdown">
                              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Drop
                                <span class=""></span>
                              </button>
                              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li><a href="#">Separated link</a></li>
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                              </ul>
                          </div>
                          </div>
                    </div>
                    <div class = 'left_list_search'>
                      <div class="col-lg-12">
                        <div class="input-group">
                          <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                          </span>
                          <input type="text" class="form-control" placeholder="Search for...">
                        </div><!-- /input-group -->
                      </div><!-- /.col-lg-6 -->
                    </div>
                    <div class = "left_list_nav">
                         <div class = "left_nav_com left_nav_message">
                            <img alt="Brand" src="...">
                          </div>
                          <div class = "left_nav_com left_nav_topic">
                            <img alt="Brand" src="...">
                          </div>
                          <div class = "left_nav_com left_nav_friend">
                           <img alt="Brand" src="...">
                          </div>
                    </div>
                    <div class = 'left_list_item'>
                        <div class="list-group">
                          <button type="button" class="list-group-item">Cras justo odio</button>
                          <button type="button" class="list-group-item">Dapibus ac facilisis in</button>
                          <button type="button" class="list-group-item">Morbi leo risus</button>
                          <button type="button" class="list-group-item">Porta ac consectetur ac</button>
                          <button type="button" class="list-group-item">Vestibulum at eros</button>
                          <button type="button" class="list-group-item">Cras justo odio</button>
                          <button type="button" class="list-group-item">Dapibus ac facilisis in</button>
                          <button type="button" class="list-group-item">Morbi leo risus</button>
                          <button type="button" class="list-group-item">Porta ac consectetur ac</button>
                          <button type="button" class="list-group-item">Vestibulum at eros</button>
                          <button type="button" class="list-group-item">Cras justo odio</button>
                          <button type="button" class="list-group-item">Dapibus ac facilisis in</button>
                          <button type="button" class="list-group-item">Morbi leo risus</button>
                          <button type="button" class="list-group-item">Porta ac consectetur ac</button>
                          <button type="button" class="list-group-item">Vestibulum at eros</button>
                          <button type="button" class="list-group-item">Cras justo odio</button>
                          <button type="button" class="list-group-item">Dapibus ac facilisis in</button>
                          <button type="button" class="list-group-item">Morbi leo risus</button>
                          <button type="button" class="list-group-item">Porta ac consectetur ac</button>
                          <button type="button" class="list-group-item">Vestibulum at eros</button>
                          <button type="button" class="list-group-item">Cras justo odio</button>
                          <button type="button" class="list-group-item">Dapibus ac facilisis in</button>
                          <button type="button" class="list-group-item">Morbi leo risus</button>
                          <button type="button" class="list-group-item">Porta ac consectetur ac</button>
                          <button type="button" class="list-group-item">Vestibulum at eros</button>
                        </div>
                    </div>
             </div>
          </div>
          <div id = "right_content" class = 'col-md-7 col-xs-7 '>
             <div class = 'right_content_box'>
                 <div class = 'right_top'>
                     <div>
                         <h2>女神(4)^</h2>
                     </div>
                 </div>
                 <div class = 'right_chat_time'>
                     <div>19:30</div>
                 </div>
                 <div class = 'right_chat_content'>
                    <h6>
                        <div class = "chatshow" id = "chatcontent">
                       xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                        </div>
                    </h6>
                 </div>
                 <div class = 'right_chat_send'>
                     <div class = 'tool_select'>
                         <img src="..." alt="..." class="img-circle">
                         <img src="..." alt="..." class="img-circle">
                         <img src="..." alt="..." class="img-circle">
                     </div>
                     <div class = 'send_word'>
                        <textarea ng-model="content" id = "txtcontent" class="form-control" rows="4"></textarea>
                     </div>
                     <div class = 'send_command'>
                        <span>
                        <a href="javascript:" class="btn btn_primary" id = "chatsend" ng-click="send()">发送</a></span>
                         <span>按下ctr+enter换行</span>
                     </div>
                 </div>
             </div>
           </div>
           <div class = 'col-md-1 col-xs-1'>
              <div class = "topleft">
                    <h1>右边界</h1>
                    <div class = "chatshow" id = "chatcontent">
                    </div>
                </div>
          </div>

        </div>
      </div>
    </nav>
   <canvas id="canvas">  </canvas>
    <!--     <span id="busuanzi_container_site_pv">本站总访问量<span id="busuanzi_value_site_pv"></span>次</span>
     <span id="busuanzi_container_page_pv">
  本文总阅读量<span id="busuanzi_value_page_pv"></span>次
</span> -->
    </body>
    <script src="javascripts/jquery-1.11.3.js"></script>
    <script src="src/index.js"></script>
    <script src="javascripts/cavas.js"></script>
    <script async src="javascripts/bootstrap.min.js"></script>
    <script async src="javascripts/angular/angular.min.js"></script>
    <script async src="javascripts/busuanzi.pure.mini.js"></script>
    <script>
        $("#chatmsg").ajaxStart(function() {
             $(this).show();
         });
         $("#chatmsg").ajaxStop(function() {
             $(this).html("已完成").hide();
         });
         initface();
         getmessagelist();
         getonlinelist();
        $("#chatsend").click(function() {
        	var $content = $("#txtcontent");
            if ($content.val() != '') {
            	sendcontent($content.val());
            } else {
            	alert("发送内容不能为空！");
            	$content.focus();
          		return false;
            }
        });

        $("table tr td img").click(function() {
        	var strcontent = $("#txtcontent").val + "<:"+this.id+":>";
        	$("#txtcontent").val(strcontent);
        })

        function sendcontent(content) {
        	$.ajax({
        		type:"POST",
        		url:"/chat_sendmsg",
        		data:"action=sendcontent&d="+new Date() +"&content=" +content,
        		success:function(data) {
        			if(data == "True") {
        				getmessagelist();
        				$("#txtcontent").val('');
        			} else {
        				alert("发送失败");
        				return false;
        			}
        		}
        	})
        }

        function getmessagelist() {
        	$.ajax({
        		type:"POST",
        		url:"/chat_getmsg",
        		data:"action=getcontent&d="+new Date(),
        		success:function(data) {
        			//alert("获取成功");
        			if(data) {
        				//alert(data.name);
        				if(data.name) {
        					var newp = document.createElement("p");
	                        newp.innerHTML = "姓名：" + data.name + "(" + data.date + ")" + "发言：" + data.word;
	                        $("#chatcontent").append(newp);
        				}

        			}
        		}
        	});
        	autoupdcontent();
        }

        function getonlinelist() {
        	$.ajax({
        		type:"POST",
        		url:"/online_list",
        		data:"action=onlinelist&d="+new Date(),
        		success:function(data) {
        			if(data == "True")
        				$("#chatonline").html(data);
        		}
        	});
        	autoupdcontent();
        }

        function initface() {
        	var strHtml = '';
        	for(var i = 0; i <= 3; i++) {
        		//strHtml += "<img src = 'face/" + i +".jpg'id='"+i+"'/>"
        		strHtml= "***********"
        	}
        	$("#face").html(strHtml);
        }

        function autoupdcontent() {
        	setTimeout(getmessagelist, 500);
        	//setTimeout(getonlinelist,6000);
        }

    </script>
</html>