/*
* @Author: QBoooogle
* @Date:   2016-08-07 20:12:42
* @Last Modified by:   QBoooogle
* @Last Modified time: 2016-08-07 22:08:50
*/
body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
h1, p {
	color:#fff;
}
a {
  color: #00B7FF;
}
.login {
	margin:200px 60px;
}
.reg {
	margin:0 0 100px 0;
}
.chat_list {
   border:1px solid orange;
   margin-left:64px;
   height:700px;
   width:280px;
   background:rgba(14,14,24,1);
}
.chat_content {
   border:1px solid blue;
   height:700px;
   width:720px;
   margin-left:12px;
   background:rgba(240,240,240,1);
}

